.ycm_extra_conf.pyc
tags
WaveSamples
Builds/AndroidStudio/app/src/main/jni
# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
# Pods - for those of you who use CocoaPods
Pods
node_modules
Builds/AndroidStudio/gradlew
Builds/AndroidStudio/gradlew.bat
Builds/AndroidStudio/app/CMakeLists.txt
Builds/AndroidStudio/app/src/debug/res/values/string.xml
Builds/AndroidStudio/app/src/release/res/values/string.xml
Builds/AndroidStudio/gradle/wrapper/gradle-wrapper.jar
Builds/AndroidStudio/gradle/wrapper/LICENSE-for-gradlewrapper.txt
Builds/iOS/LaunchScreen.storyboard
